<footer class="pt-3 mt-4 text-muted border-top">
  The <a class="link-secondary" href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  by <a class="link-secondary" href="https://www.michaelhartl.com/">Michael Hartl</a>
  <p class="float-end ms-1">
    <%= link_to "About", about_path, class: 'link-secondary' %>
  </p>
  <p class="float-end ms-1">
    <%= link_to "Contact", contact_path, class: 'link-secondary' %>
  </p>
</footer>
