<header class="navbar navbar-expand navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <%= link_to "SAMPLE APP", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", help_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", '#', class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</header>
